matplotlib
numpy
scipy
Cython
pandas
scikit-learn
wfdb==3.2.0
biosppy
tqdm
deprecated
deprecate-kwargs
pyEDFlib
PyWavelets
torch-optimizer
requests
xmltodict
torch>=2.0.1
lightning>=2.0.8
torchsummary
tensorboardX
einops
matplotlib
bib-lookup>=0.0.19
typing-extensions
wandb
hydra-core
timm
einops
monai
torch-ecg
